@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&family=Raleway:wght@400;800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@400;600;700;900&family=Raleway:wght@300&display=swap');

.benefits {
    width: 100%;
    background-color: #F7F7F7;
    padding-bottom: 6.5em;


    &__row1 {
        max-width: 70.25em;
        max-height: 23.125em;
        background-color: #FFFF;

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5.5em;
        border-radius: 4px;
        box-shadow: 0px 0px 5px  #E8E9ED;


        &--left {
            padding: 5em 2em;
            max-width: 42%;

            &__title {
                font-family: 'Raleway';
                font-weight: 400;
                font-size: 2.25em;
                padding-bottom: 0.9em;
            }

            &__text {
                font-family: 'Open', sans-serif;
                font-weight: 400;
                font-size: 1em;    
                padding-bottom: 3em;
            }

            &__line {
                border: 0.125em solid #FB3B64;
                max-width: 20.43em;
                margin: 0;
            }
        }

        &--right {
            position: relative;
            padding-top: 0.2em;



            &__figure2 {
                position: absolute;
                top: 2.7em;
                right: 2em;
            }

        }
    }

    &__row2 {
        max-width: 70.25em;
        max-height: 23.125em;
        background-color: #FFFF;

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2.3em;
        border-radius: 4px;
        box-shadow: 0px 0px 5px  #E8E9ED;


        &--right {
            padding: 5em 2em;
            max-width: 42%;

            &__title {
                font-family: 'Raleway';
                font-weight: 400;
                font-size: 2.25em;
                padding-bottom: 0.9em;
            }

            &__text {
                font-family: 'Open', sans-serif;
                font-weight: 400;
                font-size: 1em;    
                padding-bottom: 3em;
            }

            &__line {
                border: 0.125em solid #08A6E4;
                max-width: 20.43em;
                margin: 0;
            }

        }

        &--left {
            position: relative;


            &__figure2 {
                position: absolute;
                top: 1em;
                left: -0.2em;
            }

        }
    }


    &__row3 {
        max-width: 70.25em;
        max-height: 23.125em;

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2.3em;



        &--left {
            max-height: 23.125em;
            padding: 5em 2em;
            margin: 0;
            max-width: 58%;
            background-color: #FFFF;
            border-radius: 4px;
            box-shadow: 0px 0px 5px  #E8E9ED;


            &__title {
                font-family: 'Raleway';
                font-weight: 400;
                font-size: 2.25em;
                padding-bottom: 0.9em;
                max-width: 74%;
                margin: 0;

            }

            &__text {
                font-family: 'Open', sans-serif;
                font-weight: 400;
                font-size: 1em;    
                padding-bottom: 3em;
                max-width: 74%;
                margin: 0;
            }

            &__line {
                border: 0.125em solid #55DFB4;
                max-width: 20.43em;
                margin: 0;
            }

        }

        &--right {
            padding-left: 4.8em;
            max-height: 23.125em;

        }
    }
    
}