@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&family=Raleway:wght@400;800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@400;600;700;900&family=Raleway:wght@300&display=swap');

.benefits {
    width: 100%;
    background-color: #F7F7F7;
    padding-bottom: 6.5em;





    &__row1 {
        max-width: 70.25em;
        max-height: 23.125em;
        background-color: #FFFF;

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5.5em;
        border-radius: 4px;
        box-shadow: 0px 0px 5px  #E8E9ED;

         @media only screen and (max-width: 500px) {
            flex-direction: column;
            position: relative;
            margin: 45px 33px;
        } 


        &--left {
            padding: 5em 2em;
            max-width: 42%;

             @media only screen and (max-width: 500px) {
                max-width: 100%;
                padding-top: 12em;
            } 

            &__title {
                font-family: 'Raleway';
                font-weight: 400;
                font-size: 2.25em;
                padding-bottom: 0.9em;

                 @media only screen and (max-width: 500px) {
                    font-size: 1.875em;
                } 
            }

            &__text {
                font-family: 'Open', sans-serif;
                font-weight: 400;
                font-size: 1em;    
                padding-bottom: 3em;

                 @media only screen and (max-width: 500px) {
                    font-size: 0.875em;
                    padding-top: 1.7em;
                    padding-bottom: 2em;
                } 
            }

            &__line {
                border: 0.125em solid #FB3B64;
                max-width: 20.43em;
                margin: 0;

                 @media only screen and (max-width: 500px) {
                    display: none;
                } 
            }
        }

        &--right {
            position: relative;
            padding-top: 0.2em;



             @media only screen and (max-width: 500px) {
                position: absolute;
                padding-top: 0.2em;
                padding-left: 7em;

            } 
            
            &__figure1 {

                &--img {
                     @media only screen and (max-width: 500px) {
                        display: none;
                    } 
                }
            }

            &__mobile {
                display: none;

                 @media only screen and (max-width: 500px) {
                    display: block;
                } 
            }


            &__figure2 {
                position: absolute;
                top: 2.7em;
                right: 2em;

                &--img {
                     @media only screen and (max-width: 500px) {
                        max-width: 192px;
                    } 
                }
            }

        }
    }

    &__row2 {
        max-width: 70.25em;
        max-height: 23.125em;
        background-color: #FFFF;

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2.3em;
        border-radius: 4px;
        box-shadow: 0px 0px 5px  #E8E9ED;

         @media only screen and (max-width: 500px) {
            flex-direction: column;
            position: relative;
            margin: 45px 33px;
        } 


        &--right {
            padding: 5em 2em;
            max-width: 42%;

             @media only screen and (max-width: 500px) {
                max-width: 100%;
                padding-top: 2em;
            } 

            &__title {
                font-family: 'Raleway';
                font-weight: 400;
                font-size: 2.25em;
                padding-bottom: 0.9em;

                 @media only screen and (max-width: 500px) {
                    font-size: 1.875em;
                } 
            }

            &__text {
                font-family: 'Open', sans-serif;
                font-weight: 400;
                font-size: 1em;    
                padding-bottom: 3em;

                 @media only screen and (max-width: 500px) {
                    font-size: 0.875em;
                } 
            }

            &__line {
                border: 0.125em solid #08A6E4;
                max-width: 20.43em;
                margin: 0;

                 @media only screen and (max-width: 500px) {
                    display: none;
                } 
            }

        }

        &--left {
            position: relative;
            padding-top: 0.8em;

            &__figure1 {

                &--img {
                     @media only screen and (max-width: 500px) {
                        display: none;
                    } 
                }
            }

            &__mobile {
                display: none;

                 @media only screen and (max-width: 500px) {
                    display: block;
                } 
            }


            &__figure2 {
                position: absolute;
                top: 1em;
                left: -0.2em;

                &--img {
                     @media only screen and (max-width: 500px) {
                        max-width: 192px;
                    } 
                }
            }

        }
    }


    &__row3 {
        max-width: 70.25em;
        max-height: 23.125em;

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2.3em;

         @media only screen and (max-width: 500px) {
            flex-direction: column;
            position: relative;
            border-radius: none;
            box-shadow: none;
            margin: 45px 33px;
        } 

        &--left {
            max-height: 23.125em;
            padding: 5em 2em;
            margin: 0;
            max-width: 58%;
            background-color: #FFFF;
            border-radius: 4px;
            box-shadow: 0px 0px 5px  #E8E9ED;

             @media only screen and (max-width: 500px) {
                max-width: 100%;
                padding-top: 2em;
            } 


            &__title {
                font-family: 'Raleway';
                font-weight: 400;
                font-size: 2.25em;
                padding-bottom: 0.9em;
                max-width: 74%;
                margin: 0;

                 @media only screen and (max-width: 500px) {
                    font-size: 1.875em;
                } 

            }

            &__text {
                font-family: 'Open', sans-serif;
                font-weight: 400;
                font-size: 1em;    
                padding-bottom: 3em;
                max-width: 74%;
                margin: 0;

                 @media only screen and (max-width: 500px) {
                    font-size: 0.875em;
                } 
            }

            &__line {
                border: 0.125em solid #55DFB4;
                max-width: 20.43em;
                margin: 0;

                 @media only screen and (max-width: 500px) {
                    display: none;
                } 
            }

        }

        &--right {
            padding-left: 4.8em;
            max-height: 23.125em;

             @media only screen and (max-width: 500px) {
                position: relative;
                
            } 
            
            &__figure {

                &--img {
                     @media only screen and (max-width: 500px) {
                        display: none;
                    } 
                }
            }

            &__vmobile {


                &--mobile1 {
                    display: none;
    
                     @media only screen and (max-width: 500px) {
                        display: block;
                        margin: 0 auto;
                        border-radius: 4px;
                        box-shadow: 0px 0px 5px  #E8E9ED;
    
                        position: absolute;
                        right: -7.45em;
                        bottom: -7em;

                    } 
                }
    
                &--mobile2 {
                    display: none;
    
                     @media only screen and (max-width: 500px) {
                        display: block;
                        margin: 0 auto;
    
                        position: absolute;
                        right: -6em;
                        bottom: -9.5em;
                        
                    } 
                }
            }


        }
    }
    
}