.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 20em;
  margin-top: 12.5em;

  @media only screen and (max-width: 31.25em) {
    max-width: 23.43em;
  }
}