@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&family=Raleway:wght@400;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@300;400;600;700;900&family=Raleway:wght@300&display=swap");

.navbar {
  z-index: 1;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 20em;

  box-shadow: 0em 0.18em 0.37em grey;
  background-color: #ffffff;

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 101.62em;

  }

  &__logo {
    font-family: "Raleway";
    font-size: 2em;
    font-weight: 300;
    line-height: 2.31em;
    color: #08a6e4;
    @media only screen and (max-width: 31.25em) {
        width: 70%;
    }
  }

  &__list {
    width: 35.31em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 31.25em) {
        width: fit-content;
      }


    
    &--link {
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 0.688em;
        line-height: 0.938em;
        letter-spacing: 0.205em;
        text-align: center;
        text-decoration: none;
        color: #a5a5a5;
        @media only screen and (max-width: 31.25em) {
          display: none;
        }
    }

    &--button {
      display: none;
      @media only screen and (max-width: 31.25em) {
        display: block;
        border: none;
        
      }
    }
  }
}
