@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&family=Raleway:wght@400;800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@400;600;700;900&family=Raleway:wght@300&display=swap');

.why {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__open {

        &--title {
            font-family: 'Raleway';
            font-weight: 400;
            font-size: 3.063em;
            text-align: center;

            padding-bottom: 27px;
        }

        &--text {
            font-family: 'Open', sans-serif;
            font-weight: 400;
            font-size: 1em;
            line-height: 1.375em;
            text-align: center;
            padding-bottom: 37px;
        }



        &--button {
            background-color: #08A6E4;
            width: 440px;
            height: 67px;
            border: 1px solid #08A6E4;
            border-radius: 40px;
            box-shadow: 0px 13px 6px  #07ACE64A;
            
            font-family: 'Open', sans-serif;
            font-weight: 700;
            font-size: 1em;
            line-height: 1.375em;
            text-align: center;
            color: #FFFF;
        }
    }

    &__figure {

        &--img {
            @media only screen and (max-width: 500px) {

                width: 100%;
                max-height: 267px;
              }
        }

            @media only screen and (max-width: 500px) {
                max-width: 100%;
              }
    }

    &__platform {
        width: 100%;
        padding-bottom: 6em;

        &--title {
            font-family: 'Raleway';
            font-weight: 400;
            font-size: 2.25em;
            line-height: 2.625em;
            text-align: center;

            @media only screen and (max-width: 500px) {
                font-size: 1.875em;
                font-weight: 300;
                line-height: 35px;
                width: 70%;
                padding-top: 2em;
              }
        } 

        &--grid {
            display: flex;
            padding-top: 4.82em;
            max-width: 1060px;

            @media only screen and (max-width: 500px) {
                flex-direction: column;
                padding-top: 2.8em;
              }

            &__card1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;


                &--logo {

                    &__red {
                        height: 62.71px;
                        width: 62.71px;
                        background-color: #FB3B64;
                        border-radius: 50%;
                    }

                    &__figure {
                        position: absolute;
                        top: 13px;
                        right: 16px;


                        /* &--img {

                        } */
                    }
                }

                &--amount {
                    padding-top: 0.8em;
                    font-family: 'Raleway';
                    font-weight: 800;
                    font-size: 1.25em;
                    line-height: 1.5em;
                    text-align: center;
                    letter-spacing: 0.3em;
                    
                }

                &--text {
                    padding-top: 0.8em;
                    font-family: 'Raleway';
                    font-weight: 400;
                    font-size: 1.063em;
                    line-height: 1.25em;
                    text-align: center;
                    color: #A5A5A5;
                }
            }

            &__card2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;


                &--logo {

                    &__blue {
                        height: 62.71px;
                        width: 62.71px;
                        background-color: #08A6E4;
                        border-radius: 50%;
                    }

                    &__figure {
                        position: absolute;
                        top: 13px;
                        right: 17px;

                    }

                }

                &--amount {
                    padding-top: 0.8em;
                    font-family: 'Raleway';
                    font-weight: 800;
                    font-size: 1.25em;
                    line-height: 1.5em;
                    text-align: center;
                    letter-spacing: 0.3em;
                    
                }

                &--text {
                    padding-top: 0.8em;
                    font-family: 'Raleway';
                    font-weight: 400;
                    font-size: 1.063em;
                    line-height: 1.25em;
                    text-align: center;
                    color: #A5A5A5;
                }
            }
            
            &__card3 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;


                &--logo {

                    &__green {
                        height: 62.71px;
                        width: 62.71px;
                        background-color: #55DFB4;
                        border-radius: 50%;
                    }

                    &__figure {
                        position: absolute;
                        top: 5px;
                        right: 3px;

                    }

                }

                &--amount {
                    padding-top: 0.8em;
                    font-family: 'Raleway';
                    font-weight: 800;
                    font-size: 1.25em;
                    line-height: 1.5em;
                    text-align: center;
                    letter-spacing: 0.3em;
                    
                }

                &--text {
                    padding-top: 0.8em;
                    font-family: 'Raleway';
                    font-weight: 400;
                    font-size: 1.063em;
                    line-height: 1.25em;
                    text-align: center;
                    color: #A5A5A5;
                }
            }
        }
    }
}