/* @use './abstracts';
@use './base'; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&family=Raleway:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@400;600;700;900&family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&family=Raleway:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@400;600;700;900&family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&family=Raleway:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@400;600;700;900&family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&family=Raleway:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@300;400;600;700;900&family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&family=Raleway:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@300;400;600;700;900&family=Raleway:wght@300&display=swap");
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 320px;
  height: 4.37em;
  box-shadow: 0px 3px 6px grey;
  padding: 0 8.5em;
  background-color: #FFFFFF;
}
.navbar__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1626px;
}
.navbar__logo {
  font-family: "Raleway";
  font-size: 2em;
  font-weight: 300;
  line-height: 2.31em;
  color: #08A6E4;
}
.navbar__list {
  width: 565px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar__list--link {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 0.688em;
  line-height: 0.938em;
  letter-spacing: 3.28px;
  text-align: center;
  text-decoration: none;
  color: #A5A5A5;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1626px;
  min-width: 320px;
  margin-top: 12.5em;
}

.why {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.why__open--title {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 3.063em;
  text-align: center;
  padding-bottom: 27px;
}
.why__open--text {
  font-family: "Open", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.375em;
  text-align: center;
  padding-bottom: 37px;
}
.why__open--button {
  background-color: #08A6E4;
  width: 440px;
  height: 67px;
  border: 1px solid #08A6E4;
  border-radius: 40px;
  box-shadow: 0px 13px 6px rgba(7, 172, 230, 0.2901960784);
  font-family: "Open", sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.375em;
  text-align: center;
  color: white;
}
.why__platform {
  width: 100%;
  padding-bottom: 6em;
}
.why__platform--title {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 2.25em;
  line-height: 2.625em;
  text-align: center;
}
.why__platform--grid {
  display: flex;
  padding-top: 4.82em;
  max-width: 1060px;
}
.why__platform--grid__card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.why__platform--grid__card1--logo__red {
  height: 62.71px;
  width: 62.71px;
  background-color: #FB3B64;
  border-radius: 50%;
}
.why__platform--grid__card1--logo__figure {
  position: absolute;
  top: 13px;
  right: 16px;
  /* &--img {

  } */
}
.why__platform--grid__card1--amount {
  padding-top: 0.8em;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 1.25em;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.3em;
}
.why__platform--grid__card1--text {
  padding-top: 0.8em;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.063em;
  line-height: 1.25em;
  text-align: center;
  color: #A5A5A5;
}
.why__platform--grid__card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.why__platform--grid__card2--logo__blue {
  height: 62.71px;
  width: 62.71px;
  background-color: #08A6E4;
  border-radius: 50%;
}
.why__platform--grid__card2--logo__figure {
  position: absolute;
  top: 13px;
  right: 17px;
}
.why__platform--grid__card2--amount {
  padding-top: 0.8em;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 1.25em;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.3em;
}
.why__platform--grid__card2--text {
  padding-top: 0.8em;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.063em;
  line-height: 1.25em;
  text-align: center;
  color: #A5A5A5;
}
.why__platform--grid__card3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.why__platform--grid__card3--logo__green {
  height: 62.71px;
  width: 62.71px;
  background-color: #55DFB4;
  border-radius: 50%;
}
.why__platform--grid__card3--logo__figure {
  position: absolute;
  top: 5px;
  right: 3px;
}
.why__platform--grid__card3--amount {
  padding-top: 0.8em;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 1.25em;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.3em;
}
.why__platform--grid__card3--text {
  padding-top: 0.8em;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.063em;
  line-height: 1.25em;
  text-align: center;
  color: #A5A5A5;
}

.benefits {
  width: 100%;
  background-color: #F7F7F7;
  padding-bottom: 6.5em;
}
.benefits__row1 {
  max-width: 70.25em;
  max-height: 23.125em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5.5em;
  border-radius: 4px;
  box-shadow: 0px 0px 5px #E8E9ED;
}
.benefits__row1--left {
  padding: 5em 2em;
  max-width: 42%;
}
.benefits__row1--left__title {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 2.25em;
  padding-bottom: 0.9em;
}
.benefits__row1--left__text {
  font-family: "Open", sans-serif;
  font-weight: 400;
  font-size: 1em;
  padding-bottom: 3em;
}
.benefits__row1--left__line {
  border: 0.125em solid #FB3B64;
  max-width: 20.43em;
  margin: 0;
}
.benefits__row1--right {
  position: relative;
  padding-top: 0.2em;
}
.benefits__row1--right__figure2 {
  position: absolute;
  top: 2.7em;
  right: 2em;
}
.benefits__row2 {
  max-width: 70.25em;
  max-height: 23.125em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.3em;
  border-radius: 4px;
  box-shadow: 0px 0px 5px #E8E9ED;
}
.benefits__row2--right {
  padding: 5em 2em;
  max-width: 42%;
}
.benefits__row2--right__title {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 2.25em;
  padding-bottom: 0.9em;
}
.benefits__row2--right__text {
  font-family: "Open", sans-serif;
  font-weight: 400;
  font-size: 1em;
  padding-bottom: 3em;
}
.benefits__row2--right__line {
  border: 0.125em solid #08A6E4;
  max-width: 20.43em;
  margin: 0;
}
.benefits__row2--left {
  position: relative;
}
.benefits__row2--left__figure2 {
  position: absolute;
  top: 1em;
  left: -0.2em;
}
.benefits__row3 {
  max-width: 70.25em;
  max-height: 23.125em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.3em;
}
.benefits__row3--left {
  max-height: 23.125em;
  padding: 5em 2em;
  margin: 0;
  max-width: 58%;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 5px #E8E9ED;
}
.benefits__row3--left__title {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 2.25em;
  padding-bottom: 0.9em;
  max-width: 74%;
  margin: 0;
}
.benefits__row3--left__text {
  font-family: "Open", sans-serif;
  font-weight: 400;
  font-size: 1em;
  padding-bottom: 3em;
  max-width: 74%;
  margin: 0;
}
.benefits__row3--left__line {
  border: 0.125em solid #55DFB4;
  max-width: 20.43em;
  margin: 0;
}
.benefits__row3--right {
  padding-left: 4.8em;
  max-height: 23.125em;
}

.prices {
  width: 100%;
  max-height: 714px;
}
.prices__title {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 2.25em;
  text-align: center;
  padding-top: 3.5em;
  padding-bottom: 2.2em;
}
.prices__grid {
  max-width: 81.25em;
  display: flex;
  flex-wrap: wrap;
}
.prices__grid--card1 {
  border: 1px solid #FB3B64;
  width: 372px;
  max-height: 461px;
  position: relative;
  border-radius: 18px;
  box-shadow: 0px 0px 5px #E8E9ED;
  transition: all 0.3s ease-in-out;
}
.prices__grid--card1:hover {
  transform: scale(1.07);
  box-shadow: 3px 8px 11px 1px rgba(251, 59, 100, 0.27);
}
.prices__grid--card1__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 1.25em;
  text-align: center;
  padding: 1em 0;
}
.prices__grid--card1__amount--number {
  font-family: "Open", sans-serif;
  font-weight: 300;
  font-size: 2.875em;
  text-align: center;
  padding-bottom: 1.8em;
  color: #FB3B64;
}
.prices__grid--card1__list {
  padding-bottom: 5em;
}
.prices__grid--card1__list--green {
  max-width: fit-content;
  list-style-image: url(../../public/icons/prices/Checkbox.svg);
  font-family: "Open", sans-serif;
  font-weight: 400;
  font-size: 0.875em;
  text-align: center;
  padding-bottom: 1.8em;
}
.prices__grid--card1__list--red {
  max-width: fit-content;
  list-style-image: url(../../public/icons/prices/Cross.svg);
  font-family: "Open", sans-serif;
  font-weight: 400;
  font-size: 0.875em;
  text-align: center;
  padding-bottom: 1.8em;
}
.prices__grid--card1__button {
  width: 150px;
  height: 50px;
  position: absolute;
  bottom: -1.9em;
  right: 8.9em;
  border: #EB476E;
  border-radius: 23px;
  background-color: #EB476E;
  font-family: "Open", sans-serif;
  font-weight: 700;
  font-size: 0.813em;
  text-align: center;
  color: #FFF;
  transition: all 0.3s ease-in-out;
}
.prices__grid--card1__button:hover {
  box-shadow: 0px 13px 12px 1px rgba(235, 71, 110, 0.27);
}
.prices__grid--card2 {
  border: 1px solid #07ACE6;
  width: 372px;
  max-height: 461px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  box-shadow: 0px 0px 5px #E8E9ED;
  transition: all 0.3s ease-in-out;
}
.prices__grid--card2:hover {
  transform: scale(1.07);
  box-shadow: 3px 8px 11px 1px rgba(7, 172, 230, 0.27);
}
.prices__grid--card2__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 1.25em;
  text-align: center;
  padding: 1em 0;
}
.prices__grid--card2__amount2 {
  padding-bottom: 1.8em;
}
.prices__grid--card2__amount2--number {
  font-family: "Open", sans-serif;
  font-weight: 300;
  font-size: 2.875em;
  text-align: center;
  color: #07ACE6;
  padding-bottom: 0.2em;
}
.prices__grid--card2__amount2--offer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 0.75em;
  text-align: center;
  padding-bottom: 3.1em;
}
.prices__grid--card2__list {
  padding-bottom: 5em;
}
.prices__grid--card2__list--green {
  max-width: fit-content;
  list-style-image: url(../../public/icons/prices/Checkbox.svg);
  font-family: "Open", sans-serif;
  font-weight: 400;
  font-size: 0.875em;
  text-align: center;
  padding-bottom: 1.8em;
}
.prices__grid--card2__list--red {
  max-width: fit-content;
  list-style-image: url(../../public/icons/prices/Cross.svg);
  font-family: "Open", sans-serif;
  font-weight: 400;
  font-size: 0.875em;
  text-align: center;
  padding-bottom: 1.8em;
}
.prices__grid--card2__button {
  width: 150px;
  height: 50px;
  position: absolute;
  bottom: -1.9em;
  right: 8.9em;
  border: #07ACE6;
  border-radius: 23px;
  background-color: #07ACE6;
  font-family: "Open", sans-serif;
  font-weight: 700;
  font-size: 0.813em;
  text-align: center;
  color: #FFF;
  transition: all 0.3s ease-in-out;
}
.prices__grid--card2__button:hover {
  box-shadow: 3px 8px 11px 1px rgba(7, 172, 230, 0.27);
}
.prices__grid--card3 {
  border: 1px solid #55DFB4;
  width: 372px;
  max-height: 461px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  box-shadow: 0px 0px 5px #E8E9ED;
  transition: all 0.3s ease-in-out;
}
.prices__grid--card3:hover {
  transform: scale(1.07);
  box-shadow: 3px 8px 11px 1px rgba(85, 223, 180, 0.27);
}
.prices__grid--card3__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 1.25em;
  text-align: center;
  padding: 1em 0;
}
.prices__grid--card3__amount2 {
  padding-bottom: 1.8em;
}
.prices__grid--card3__amount2--number {
  font-family: "Open", sans-serif;
  font-weight: 300;
  font-size: 2.875em;
  text-align: center;
  color: #55DFB4;
  padding-bottom: 0.2em;
}
.prices__grid--card3__amount2--offer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 0.75em;
  text-align: center;
  padding-bottom: 3.1em;
}
.prices__grid--card3__list {
  padding-bottom: 5em;
}
.prices__grid--card3__list--green {
  max-width: fit-content;
  list-style-image: url(../../public/icons/prices/Checkbox.svg);
  font-family: "Open", sans-serif;
  font-weight: 400;
  font-size: 0.875em;
  text-align: center;
  padding-bottom: 1.8em;
}
.prices__grid--card3__button {
  width: 150px;
  height: 50px;
  position: absolute;
  bottom: -1.9em;
  right: 8.9em;
  border: #55DFB4;
  border-radius: 23px;
  background-color: #55DFB4;
  font-family: "Open", sans-serif;
  font-weight: 700;
  font-size: 0.813em;
  text-align: center;
  color: #FFF;
  transition: all 0.3s ease-in-out;
}
.prices__grid--card3__button:hover {
  box-shadow: 0px 13px 12px 1px rgba(85, 223, 180, 0.27);
}

.contact {
  max-width: 896px;
  margin-top: 11em;
  display: flex;
}
.contact__info {
  padding-right: 6.6em;
}
.contact__info--title {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 3.063em;
  padding-bottom: 0.5em;
}
.contact__info--text {
  font-family: "Open", sans-serif;
  font-weight: 400;
  font-size: 1em;
  padding-bottom: 2.4em;
}
.contact__info--data {
  display: flex;
  flex-wrap: wrap;
}
.contact__info--data__left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
}
.contact__info--data__left--email {
  font-weight: 600;
  font-size: 1em;
  color: #A5A5A5;
}
.contact__info--data__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
}
.contact__info--data__right--number {
  font-family: "Open", sans-serif;
  font-weight: 600;
  font-size: 1em;
  color: #A5A5A5;
}
.contact__us {
  max-width: 440px;
  max-height: 376px;
}
.contact__us--form__inputs #label-name {
  display: block;
  font-family: "Open", sans-serif;
  font-weight: 600;
  font-size: 0.68em;
  letter-spacing: 0.205em;
  padding-bottom: 1.8em;
  color: #08A6E4;
}
.contact__us--form__inputs #name {
  border: none;
  border-bottom: 1px solid #95989A;
  display: block;
  width: 100%;
}
.contact__us--form__inputs #label-email {
  display: block;
  font-family: "Open", sans-serif;
  font-weight: 600;
  font-size: 0.68em;
  letter-spacing: 0.205em;
  padding-top: 3.8em;
  padding-bottom: 2em;
  color: #08A6E4;
}
.contact__us--form__inputs #email {
  border: none;
  border-bottom: 1px solid #95989A;
  display: block;
  width: 100%;
}
.contact__us--form__policy {
  padding-top: 2em;
  display: flex;
}
.contact__us--form__policy #check {
  width: 1.5em;
  height: 1.5em;
  border-radius: 1em;
}
.contact__us--form__policy #check:checked {
  accent-color: #FFF;
}
.contact__us--form__policy--text {
  width: 90%;
  display: inline-block;
  font-family: "Open", sans-serif;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.205em;
  padding-bottom: 2em;
}
.contact__us--form__button {
  display: block;
  font-family: "Open", sans-serif;
  font-weight: 700;
  font-size: 0.813em;
  letter-spacing: 0.205em;
  padding: 20px 97px;
  border-radius: 35px;
  border-color: #08A6E4;
  color: #FFF;
  background-color: #08A6E4;
  margin-right: 0;
  transition: all 0.3s ease-in-out;
}
.contact__us--form__button:hover {
  box-shadow: 0px 13px 12px rgba(7, 172, 230, 0.2901960784);
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  min-width: 320px;
}/*# sourceMappingURL=styles.css.map */