/* @use './abstracts';
@use './base'; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&family=Raleway:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@400;600;700;900&family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&family=Raleway:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:wght@400;600;700;900&family=Raleway:wght@300&display=swap");
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 320px;
  height: 4.37em;
  box-shadow: 0px 3px 6px grey;
  padding: 0 8.5em;
  background-color: #FFFFFF;
}
.navbar__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1626px;
}
.navbar__logo {
  font-family: "Raleway";
  font-size: 2em;
  font-weight: 300;
  line-height: 2.31em;
  color: #08A6E4;
}
.navbar__list {
  width: 565px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar__list--link {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 0.688em;
  line-height: 0.938em;
  letter-spacing: 3.28px;
  text-align: center;
  text-decoration: none;
  color: #A5A5A5;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1626px;
  min-width: 320px;
  margin-top: 12.5em;
}

.why {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* &__figure {

      &--img {

      }
  } */
}
.why__open--title {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 3.063em;
  /* line-height: 3.563em; */
  text-align: center;
  padding-bottom: 27px;
}
.why__open--text {
  font-family: "Open", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.375em;
  text-align: center;
  padding-bottom: 37px;
}
.why__open--button {
  background-color: #08A6E4;
  width: 440px;
  height: 67px;
  border: 1px solid #08A6E4;
  border-radius: 40px;
  box-shadow: 0px 13px 6px rgba(7, 172, 230, 0.2901960784);
  font-family: "Open", sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.375em;
  text-align: center;
  color: white;
}
.why__platform {
  width: 100%;
}
.why__platform--title {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 2.25em;
  line-height: 2.625em;
  text-align: center;
}
.why__platform--grid {
  display: flex;
  padding-top: 4.82em;
  max-width: 1060px;
}
.why__platform--grid__card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.why__platform--grid__card1--logo__red {
  height: 62.71px;
  width: 62.71px;
  background-color: #FB3B64;
  border-radius: 50%;
}
.why__platform--grid__card1--logo__figure {
  position: absolute;
  top: 13px;
  right: 16px;
  /* &--img {

  } */
}
.why__platform--grid__card1--amount {
  padding-top: 0.8em;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 1.25em;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.3em;
}
.why__platform--grid__card1--text {
  padding-top: 0.8em;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.063em;
  line-height: 1.25em;
  text-align: center;
  color: #A5A5A5;
}
.why__platform--grid__card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.why__platform--grid__card2--logo__blue {
  height: 62.71px;
  width: 62.71px;
  background-color: #08A6E4;
  border-radius: 50%;
}
.why__platform--grid__card2--logo__figure {
  position: absolute;
  top: 13px;
  right: 17px;
  /* &--img {

  } */
}
.why__platform--grid__card2--amount {
  padding-top: 0.8em;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 1.25em;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.3em;
}
.why__platform--grid__card2--text {
  padding-top: 0.8em;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.063em;
  line-height: 1.25em;
  text-align: center;
  color: #A5A5A5;
}
.why__platform--grid__card3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.why__platform--grid__card3--logo__green {
  height: 62.71px;
  width: 62.71px;
  background-color: #55DFB4;
  border-radius: 50%;
}
.why__platform--grid__card3--logo__figure {
  position: absolute;
  top: 5px;
  right: 3px;
  /* &--img {

  } */
}
.why__platform--grid__card3--amount {
  padding-top: 0.8em;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 1.25em;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.3em;
}
.why__platform--grid__card3--text {
  padding-top: 0.8em;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 1.063em;
  line-height: 1.25em;
  text-align: center;
  color: #A5A5A5;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  min-width: 320px;
}/*# sourceMappingURL=styles.css.map */